{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:url('editMenu', ['menu_id' => $menu_id, 'menu_pid' => $menu['menu_pid']])}">
		
			{:block('text', ['title' => '菜单名称', 'name' => 'menu_name', 'value' => $menu['menu_name']])}
		
			{:block('text', ['title' => '菜单链接', 'name' => 'menu_url', 'value' => $menu['menu_url']])}
			
			{:block('text', ['title' => '菜单分组', 'name' => 'menu_group', 'value' => $menu['menu_group']])}
			
			{:block('select', ['title' => '上级菜单', 'name' => 'menu_pid', 'value' => $menu['menu_pid'], 'list' => $menu_select])}
			
			{:block('text', ['title' => '菜单排序', 'name' => 'menu_sort', 'value' => $menu['menu_sort']])}
			
			{:block('select', ['title' => '打开方式', 'name' => 'menu_target', 'value' => $menu['menu_target'], 'list' => $menu_target])}
			
			{:block('select', ['title' => '是否Build', 'name' => 'menu_build', 'value' => $menu['menu_build'], 'list' => $menu_build])}
			
			{:block('select', ['title' => '菜单状态', 'name' => 'menu_status', 'value' => $menu['menu_status'], 'list' => $menu_status])}
			
			{:block('submit', ['title' => '用户操作'])}
			
		</form>
	</div>
</div>
{/block}