{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12 am-u-md-6">
		<div class="am-btn-toolbar">
			<div class="am-btn-group am-btn-group-xs">
				{if condition="$path_base neq '/'"}
				<a class="am-btn am-btn-default am-text-primary" href="{:url('runtime', ['path' => base64_encode($path_base)])}">
					<span class="am-icon-reply"></span> 上级
				</a>
				{/if}
				<a class="am-btn am-btn-default am-text-danger ajax-get ajax-confirm" href="{:url('delRuntime', ['path' => base64_encode($path)])}">
					<span class="am-icon-trash"></span> 删除
				</a>
				<a class="am-btn am-btn-default nd-refresh">
					<span class="am-icon-refresh"></span> 刷新
				</a>
			</div>
		</div>
	</div>
</div>
<br/>

<div class="am-g">
	<div class="am-u-sm-12">
		<table class="am-table am-table-striped am-table-radius am-table-bordered">
			<thead>
				<tr>
					<th>路径</th>
					<th>大小</th>
					<th>创建时间</th>
					<th>修改时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo"}
				<tr>
					<td>{$vo.file_str}</td>
					<td>{$vo.size}</td>
					<td>{$vo.stat.ctime|date='Y-m-d H:i:s',###}</td>
					<td>{$vo.stat.mtime|date='Y-m-d H:i:s',###}</td>
					<td>
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs">
								<a class="am-btn am-btn-default am-btn-xs am-text-danger ajax-get ajax-confirm" href="{:url('delRuntime', ['path' => base64_encode($vo['file']), 'self' => 1])}">
									<span class="am-icon-trash-o"></span> 删除
								</a>
							</div>
						</div>
					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>
{/block}