{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12">
		<form class="am-form ajax-form" method="post" action="{:url('editGroup', ['group_id' => $group_id])}">
		
			{:block('text', ['title' => '群组名称', 'name' => 'group_name', 'value' => $group['group_name']])}
		
			{:block('text', ['title' => '后台主页', 'name' => 'home_page', 'value' => $group['home_page']])}
			
			{:block('textarea', ['title' => '群组说明', 'name' => 'group_info', 'value' => $group['group_info']])}
			
			{:block('select', ['title' => '群组状态', 'name' => 'group_status', 'value' => $group['group_status'], 'list' => $group_status])}
			
			{:block('submit', ['title' => '用户操作'])}
			
		</form>
	</div>
</div>
{/block}