{extend name="common/base" }

{block name="content"}
<div class="am-g">
	<div class="am-u-sm-12 am-u-md-6">
		<div class="am-btn-toolbar">
			<div class="am-btn-group am-btn-group-xs">
				<a class="am-btn am-btn-default" href="{:url('addGroup')}">
					<span class="am-icon-plus"></span> 新增
				</a>
				<a class="am-btn am-btn-default nd-refresh">
					<span class="am-icon-refresh"></span> 刷新
				</a>
			</div>
		</div>
	</div>
</div>
<br/>

<div class="am-g">
	<div class="am-u-sm-12">
		<table class="am-table am-table-striped am-table-radius am-table-bordered">
			<thead>
				<tr>
					<th>名称</th>
					<th>描述</th>
					<th>主页</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			{volist name="list" id="vo"}
				<tr>
					<td>{$vo.group_name}</td>
					<td>{$vo.group_info}</td>
					<td>{$vo.home_page}</td>
					<td>
						<select data-am-selected="{btnSize: 'sm'}" class="nd-input" url="{:url('modifyGroup', ['id' => $vo['id'], 'field' => 'group_status', 'value' => 'xxxxxx'])}">
							<option {eq name="vo.group_status" value="1"}selected{/eq} value="1">启用</option>
							<option {eq name="vo.group_status" value="0"}selected{/eq} value="0">禁用</option>
						</select>
					</td>
					<td>
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs">
								<a class="am-btn am-btn-default am-btn-xs am-text-success" href="{:url('editAuth', ['group_id' => $vo['id']])}">
									<span class="am-icon-users"></span> 权限
								</a>
								<a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="{:url('editGroup', ['group_id' => $vo['id']])}">
									<span class="am-icon-pencil-square-o"></span> 编辑
								</a>
								<a class="am-btn am-btn-default am-btn-xs am-text-danger ajax-get ajax-confirm" href="{:url('delGroup', ['group_id' => $vo['id']])}">
									<span class="am-icon-trash-o"></span> 删除
								</a>
							</div>
						</div>
					</td>
				</tr>
			{/volist}
			</tbody>
		</table>
	</div>
</div>
{/block}